inkscape/
dconf/
kde.org/
light/
ly/
ncmpcpp/
obs-studio/
pacmixer/
pdtm/
sessio/
spotify-tui/
systemd/
xfce4/
dolphinrc
kconf_updaterc
kdeglobals
.picom/
alacritty/
cache_directory/
cano/
cef_user_data/
chromium/
coc/
dconf/
discord/
emacs/
eww/
GIMP/
htop/
Kando/
katana/
KDAB/
Kitware/
LanguageTool/
libreoffice/
mpv/
MuseScore/
mvi/
ohmyposh/
pomodoro/
procps/
protonvpn/
pulse/
ranger/
Raspberry Pi/
session/
spicetify/
spotify/
spotifyd/
thefuck/
Unknown Organization/
VirtualBox/
vivaldi/
yay/
mimeapps.list
okularpartrc
okularrc
QtProject.conf
xdg-terminals.list
zoom.conf
zoomus.conf
